<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css">
	<title>U Small</title>
</head>
<body>
	<div class="container-fluid text-center">
  			<h3>URL SHR<small>INKER</small> </h3>
	</div>
	<div class="container text-center">
		<div class="row">
			<form action="/create" method="post">
				<p>Shrink URL links down....</p>
				<br>
				<p>Instructions:</p>
				<li>Take the URL you want to shrink and enter in the input.</li>
				<br>
				<br>
				<label for="URL example">URL Input</label>
				<br>
				<input class="form-control" type"text" name="url" value="http://">
				<br>
				<br>
				<button type="submit" class="btn btn-primary">Shrink IT</button>
				<!-- <input type="submit" value="Shrink IT"> -->
			</form>
		</div>
	</div>
</body>
</html>