<!DOCTYPE html>
<html>
<head>
	<title>U Small</title>
</head>
<body>
	<h2>U Small app</h2>
	<form action="/create" method="post">
		<p>Shrink URL links down....</p>
		<input type"text" name="url" placeholder="omit http://www.">
		<br><br>
		<input type="submit" value="Shrink IT">
	</form>
</body>
</html>