<!DOCTYPE html>
<html>
<head>
	<title>U Small</title>
</head>
<body>
	<h2>U Small app</h2>
	<form action="/create" method="post">
		<p>Shrink URL links down....</p>
		<br>
		<br>
		<p>Instructions:</p>
		<li>Take the URL you want to shrink and enter in the input.</li>
		<li>Omit the http://www. (EX: google.com)</li>
		<br>
		<br>
		<input type"text" name="url" placeholder="Omit http://www.">
		<br><br>
		<input type="submit" value="Shrink IT">
	</form>
</body>
</html>